<div id='filter-modal' class="modal hide fade modal-dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h1>Add Patient</h1>
	</div>

	<div class="modal-body">
		Auth Request Type:<br>
		<input type="textarea" ng-model='authRequestType'><br>
		Date Range:<br>
		<select ng-model="dateRange">
			<option>placeholder</option>
			<option>placeholder</option>
			<option>placeholder</option>
		</select><br>
		Facility - Actor Ids:<br>
		<select ng-model="facilityActorIds">
			<option>placeholder</option>
			<option>placeholder</option>
			<option>placeholder</option>
		</select><br>
		Payer:<br>
		<input type="text" ng-model="payer"><br>
		Action Status:<br>
		<input type="text" ng-model="actionStatus">
	</div>

	<div class="modal-footer">
		<a href="" class="btn btn-info" ng-click="submit()" data-dismiss="modal">Submit</a>
		<a href="" class="btn btn-warning" data-dismiss="modal">Cancel</a>
	</div>


</div>